mat-card {
  max-width: 80%;
  margin: 4em auto;
  text-align: center;
  padding: 32px;
}

.signup-card {
  width: 300px;
}

mat-card-title {
  margin-bottom: 24px;
}

.trackr-logo {
  color: #2962ff;
}

.trackr-logo-icon {
  height: 29px;
  width: 29px;
  vertical-align: middle;
}

mat-card-subtitle {
  font-size: 20px;
}

.full-width {
  width: 100%;
}

.signup-action {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin-top: 16px;
}

.login-button {
  text-align: center;
  width: 100%;
}

.login-button button {
  margin-left: -16px;
}

.signup-submit-button {
  text-align: right;
  width: 100%
}

.mat-progress-button {
  padding: 0;
  width: 100%;
}

.mat-progress-button mat-progress-bar {
  position: absolute;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
